<%- include('header'); -%>


<% if (field === 'fname') { %>
    <h1>First Name List</h1>
    <% for(var i=0; i<docs1.length ; i++) { %>

       <h3> <li> <%= docs1[i].firstName %> </li> </h3>
    <% }  %>
    <% } %>


<% if (field === 'lname') { %>
    <h1>Last Name List</h1>
    <% for(var i=0; i<docs1.length ; i++) { %>
    
        <h3> <li> <%= docs1[i].lastName %> </li> </h3>
    <% }  %>
    <% } %>

    <% if (field === 'all') { %>
        <h1>All details</h1>
        <table>
            <tr>
              <th>First Name   </th>
              <th>Last name    </th>
              <th>Email        </th>
              <!-- <th>Department</th> -->
              <th>Update</th>
            </tr>
        <% for(var i=0; i<docs1.length ; i++) { %>
        
            <tr>
              <h4>  <td><%= docs1[i].firstName %></td></h4>
               <h4> <td><%= docs1[i].lastName %></td> </h4>
             <h4>   <td><%= docs1[i].email %></td> </h4>
                 <!-- <td><%= docs1[i].department %></td>  -->
                 <td><a href="/updateUser/<%= docs1[i]._id %>">Update</a> </td>
                 <!-- <h4> <td><a href="/updateUser" onclick="location.href=this.href+docs[i]._id;return false;"> Update</a></td></h4> -->
              </tr>
            
        <% }  %>
        <% } %>
        <script src=""></script>


<%- include('footer'); -%>