<%- include('header'); -%>

<div class="container">
    <div class="card">
      <h3>  Your first name : <%= foundPerson.firstName %> </h3> <br>
      <h3>  Your Last name : <%= foundPerson.lastName %> </h3> <br>
      <h3>  Your email : <%= foundPerson.email %> </h3> <br>
      <h3>  Your Role : <%= foundPerson.role %> </h3> <br>
      <h3>  Your Department : <%= foundPerson.department %> </h3>

    </div>
</div>


<%- include('footer'); -%>